/*================================================== Google Fonts ===========================================*/
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --header-height: 4rem;

  --first-color: hsl(20, 90%, 55%);       
  --first-color-alt: hsl(20, 85%, 48%);
  --first-color-light: hsl(20, 95%, 70%);

  --secondary-color: hsl(145, 35%, 45%);

  --title-color: hsl(25, 18%, 18%);
  --text-color: hsl(60, 3%, 6%);

  --white-color: hsl(0, 0%, 100%);
  --gray-color: hsl(30, 12%, 88%);

  --body-color: hsl(38, 70%, 97%);
  --body-color-alt: hsl(33, 100%, 96%);
  --container-color: hsla(40, 92%, 90%, 0.603);

  --shadow-color: hsla(25, 25%, 20%, 0.08);

  --body-font: "Montserrat", sans-serif;
  --second-font: "Lora", serif;

  --radius-small: .5rem;
  --radius-medium: 1rem;
  --radius-large: 2rem;

  --shadow-soft: 0 8px 24px var(--shadow-color);
  --shadow-card: 0 14px 34px hsla(24, 22%, 26%, 0.192);

  --z-tooltip: 10;
  --z-fixed: 100;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    min-height: 100vh;
}

body{
  font-family: var(--body-font);

  background:
    radial-gradient(circle at 15% 30%, #fff1dc 0%, transparent 45%),
    radial-gradient(circle at 85% 75%, #ffe3d4 0%, transparent 45%),
    linear-gradient(180deg, #fffaf3 0%, #ffeede 100%);
    position: relative;
    min-height: 100vh;
}

.head 
{
    width: 100%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.navbar h2
{
    font-family: var(--second-font);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 28px;
    padding: 10px;
}

.navbar h2 span {
  color: var(--first-color);
}

.nav-btn 
{
    position: fixed;
    bottom: 0;
    left: 20px;
    right: 20px;
    padding: 30px;
    display: flex;
    gap: 4rem;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);  
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-radius: 2rem;
    box-shadow: var(--shadow-card);
}
.nav-btn a{
    text-decoration: none;
    font-size: var(--normal-font-size);
    color:rgba(0, 0, 0, 0.856);
    font-weight: 600;
}

.btn
{
    width:80px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-left: 60px;
    background-color: var(--first-color);
    color: black;
    font-size: 17px;
}

.part1 {
    padding: 70px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left {
    text-align: center;
    max-width: 600px;
    margin: auto;
}

.left h2 {
    font-size:29px ;
    font-family: var(--second-font);
    line-height: 1.3;
    margin-bottom: 1rem;
}

.left p {
    text-align:center;
    font-size: var(--normal-font-size);
    color: var(--text-color);
    margin-bottom: 1.8rem;
}

.lb {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.btn1
{
    width:130px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 15px;
    background-color: var(--first-color);
    color: black;
    font-size: 17px;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    position: relative;
}


.right img {
    width: 100%;
    max-width: 300px;  
    height: auto;
    object-fit: contain;
    z-index: 2;
}

.style {
    position: absolute;
    inset: 0;     
    pointer-events: none;
}

.style img {
    position: absolute;
    width: 40px;  
    opacity: 0.9;
}

.img1 {
    top: 10px;
    left: 10px;
}

.img2 {
    top: 10%;
    right: 15px;
}

.img3 {
    bottom: -15px;
    left: 15%;
}

.part2 {

    text-align: center;
}

.part2 h2 {
    font-family: var(--second-font);
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: 2rem;
}

.category {
    /* background: var(--body-color-alt); */
    padding: 2rem 1.5rem;
    border-radius: 2rem;
    /* box-shadow: var(--shadow-card); */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 420px;
    margin: auto;
}

.category div {
    background: var(--container-color);
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: 1rem;
    box-shadow: var(--shadow-soft);
    transition: 0.3s ease;
}

.category > div:hover {
    transform: translateY(-5px);
}

.img {
    width: 170px;
    height: 130px;
    flex-shrink: 0;
    background: var(--white-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img img {
    width: 70%;
    height: auto;
}


.detail h3 {
    font-size: var(--h3-font-size);
    color: var(--first-color-alt);
    margin-bottom: 0.2rem;
}

.detail p {
    font-size: var(--small-font-size);
    color: var(--text-color);
}


@media (min-width: 768px) {
  .nav-btn {
      position: static;
      background: transparent;
      padding: 20px;
      margin-top: 8px;
      margin-left: 10px;
      background: rgba(255, 239, 239, 0.137); 
      backdrop-filter: blur(14px);
      -webkit-backdrop-filter: blur(14px);
  }
  .nav-btn a
  {
    color:var(--text-color);
  }
}

@media (min-width: 768px) {

    .part1 {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 4rem 6rem;
        gap: 3rem;
    }

    .left {
        flex: 1;
        text-align: left;
        margin: 0;
        max-width: 520px;
    }

    .lb {
        justify-content: flex-start;
    }
}

@media (min-width: 768px) {

    .right {
        flex: 1;
        margin-top: 0;
    }

    .right img {
        max-width: 420px;
    }
}


@media (min-width: 768px) {

    .part2
    {
        margin-top: 40px;
        padding: 20px;
    }

    .part2 h2
    {
        font-size: 25px;
    }
    .category {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;   
        max-width: 1300px;
        padding: 2.5rem;
    }

    .category > div {
        flex-direction: column;
        text-align: center;
        width: 350px;
        padding: 2rem 1.3rem;
    }

    .img {
        width: 171px;
        height: 140px;
        margin-bottom: 0.8rem;
    }
}
